@using Floream.People.Utils
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<List<Floream.People.DataSources.Entities.Person>>

@{
    Layout = "Views/Shared/_Layout.cshtml";
    var counter = 0;
}

<div class="container">
<div class="search">
    <form method="POST" action="/search">
        <div class="input-group">
            <input type="text" class="form-control" name="query" id="query" placeholder="Search for someone&hellip;">
            <span class="input-group-btn">
                <button class="btn btn-default btn-search" type="submit"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </form>

    <div class="polaroids"><div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="polariod">
                <a href="#">
                    <img class="img-max" alt="@item.Name" src='@Floream.People.Utils.HtmlHelper.GetProfileImage(item.Picture, item.PictureExtension)' />
                </a>
                <span class="text-center">
                    @item.Name
                </span>
                <span class="text-center">
                    <a href="mailto:@item.Email" class="mailme">@item.Email</a>
                </span>
            </div>
        </div>
    }
</div></div>
</div>
</div>
