@using Floream.People.Utils
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<List<Floream.People.DataSources.Entities.Person>>

@{
    Layout = "Views/Shared/_Layout.cshtml";
    var counter = 0;
}

<div class="search">
    <form method="POST" action="/search">
        <div class="input-group">
            <input type="text" class="form-control" name="query" id="query" placeholder="Search for someone&hellip;">
            <span class="input-group-btn">
                <button class="btn btn-default btn-search" type="submit"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </form>
</div>

<ul class="polaroids list-unstyled list-inline">
    @foreach (var item in Model)
    {
        <li>
            <a href="#">
                @if (item.Picture == null)
                {
                    <img alt="@item.Name" src="data:image/jpg;base64,@Constants.picStormTrooper" />
                }
                else
                {
                    <img alt="@item.Name" src="data:image/@item.PictureExtension;base64,@System.Convert.ToBase64String(item.Picture)" />
                }
            </a>
            <span class="text-center">@item.Name</span>
        </li>
    }
</ul>