<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>We Are</title>
    <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light|Pacifico|Covered+By+Your+Grace|Gloria+Hallelujah' rel='stylesheet' type='text/css'>

    <link href="/Content/css/Style.css" rel="stylesheet" />

    <script src="/Content/js/jquery.min.js"></script>
    <script src="/Content/js/jquery.lazyload.min.js"></script>
    <script src="/Content/js/jquery.mixitup.min.js"></script>
    <script src="/Content/js/script.js"></script>

</head>
<body>
    <header></header>
    <section>
        <div class="controls">
            <label>Filter:</label>
            <button class="filter" data-filter="all">All</button>
            <button class="filter" data-filter=".sales">Sales Team</button>
            <button class="filter" data-filter=".it">It Department</button>
            <label>Sort:</label>
            <button class="sort" data-sort="myorder:asc">Asc</button>
            <button class="sort" data-sort="myorder:desc">Desc</button>
        </div>
        <div class="container" id="container">
            <div class="col mix sales" data-myorder="1">
                <div class="wrapper">
                    <div class="img"><img src="Tom-Selleck.jpeg"></div>
                    <div class="overlay"></div>
                    <span>
                        Tom Selleck 1<br />
                        Sales Person<br />
                        Sales Team
                    </span>
                </div>
            </div>
            <div class="col mix sales" data-myorder="2">
                <div class="wrapper">
                    <div class="img"><img src="Tom-Selleck.jpeg"></div>
                    <div class="overlay"></div>
                    <span>
                        Tom Selleck 2<br />
                        Sales Person<br />
                        Sales Team
                    </span>
                </div>
            </div>
            <div class="col mix it" data-myorder="3">
                <div class="wrapper">
                    <div class="img"><img src="Tom-Selleck.jpeg"></div>
                    <div class="overlay"></div>
                    <span>
                        Tom Selleck 3<br />
                        Sales Person<br />
                        Sales Team
                    </span>
                </div>
            </div>
            <div class="col mix it" data-myorder="4">
                <div class="wrapper">
                    <div class="img"><img src="Tom-Selleck.jpeg"></div>
                    <div class="overlay"></div>
                    <span>
                        Tom Selleck 4<br />
                        Sales Person<br />
                        Sales Team
                    </span>
                </div>
            </div>
            <div class="col mix sales" data-myorder="5">
                <div class="wrapper">
                    <div class="img"><img src="Tom-Selleck.jpeg"></div>
                    <div class="overlay"></div>
                    <span>
                        Tom Selleck 5<br />
                        Sales Person<br />
                        Sales Team
                    </span>
                </div>
            </div>
        </div>
        </section>
        <footer>
            &copy; Floream 2016
        </footer>


</body>
</html>
