@{
    ViewBag.Title = "Home Page ";
    Layout = "Views/Shared/_Layout.cshtml";
}

    <div class="controls">
        <label>Filter:</label>
        <button class="filter" data-filter="all">All</button>
        <button class="filter" data-filter=".sales">Sales Team</button>
        <button class="filter" data-filter=".it">It Department</button>
        <label>Sort:</label>
        <button class="sort" data-sort="myorder:asc">Asc</button>
        <button class="sort" data-sort="myorder:desc">Desc</button>
    </div>
    <div id="container">

        <div class="col mix sales col-md-4" data-myorder="1">
            <div class="wrapper">
                <div class="img"><img src="/Content/image/Tom-Selleck.jpeg"></div>
                <div class="overlay"></div>
                <span>
                    Tom Selleck 1<br />
                    Sales Person<br />
                    Sales Team
                </span>
            </div>
        </div>
        <div class="col mix sales" data-myorder="2">
            <div class="wrapper">
                <div class="img"><img src="/Content/image/Tom-Selleck.jpeg"></div>
                <div class="overlay"></div>
                <span>
                    Tom Selleck 2<br />
                    Sales Person<br />
                    Sales Team
                </span>
            </div>
        </div>
        <div class="col mix it" data-myorder="3">
            <div class="wrapper">
                <div class="img"><img src="/Content/image/Tom-Selleck.jpeg"></div>
                <div class="overlay"></div>
                <span>
                    Tom Selleck 3<br />
                    Sales Person<br />
                    Sales Team
                </span>
            </div>
        </div>
        <div class="col mix it" data-myorder="4">
            <div class="wrapper">
                <div class="img"><img src="/Content/image/Tom-Selleck.jpeg"></div>
                <div class="overlay"></div>
                <span>
                    Tom Selleck 4<br />
                    Sales Person<br />
                    Sales Team
                </span>
            </div>
        </div>
        <div class="col mix sales" data-myorder="5">
            <div class="wrapper">
                <div class="img"><img src="/Content/image/Tom-Selleck.jpeg"></div>
                <div class="overlay"></div>
                <span>
                    Tom Selleck 5<br />
                    Sales Person<br />
                    Sales Team
                </span>
            </div>
        </div>
    </div>

