@{
    ViewBag.Title = "Login ";
    Layout = "Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form>
        Username: <input name="username" type="text" /><br />
        Password: <input name="password" type="password" />
    </form>
</body>
</html>