body {
				font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
			}
			.controls {
				padding:20px;
			}
			.controls button {
				background: #81c341;
			    border: 0;
			    padding-right: 30px;
			    border-radius: 0;
			    box-shadow: inset 0 0 0 rgba(255,255,255,0),inset 0 0 0 rgba(255,255,255,0),inset 0 -5px 12px rgba(0,0,0,0);
			    color: #fff;
			    text-shadow: none;
			    font-weight: 700!important;
			    position: relative;
			    float: none;
			    line-height: 30px;
			    font-size: 14px
			}
			.controls button:after {
				display:inline-block;
				content:">";
				
			}
			.container .col{
				display: none;
			}
			.col {
				width:33%;
				display:inline-block;
			}

			div.wrapper {
				height:534px;
				width:400px;
				
				//font-family: 'Shadows Into Light', cursive;
				//font-family: 'Pacifico', cursive;
				//font-family: 'Covered By Your Grace', cursive;
				font-family: 'Gloria Hallelujah', cursive;
				position:relative;
				margin:0 auto;
			}
			div.img {
				height:375px;
				width:367px;
				position:relative;
				left:20px;
				top:35px;
			}
			div.img img {
				height:100%;
				width:100%;
			}
			div.overlay{
				background:url(/Content/image/polaroid.png);
				height:534px;
				width:414px;
				position:absolute;
				top:0px;
				left:0px;
				z-index:5;
			}
			span{
				position:absolute;
				display:block;
				bottom:17px;
				width:100%;
				text-align:center;
				z-index:20;
				font-size:18px;
			}