@model string

<h3>Avatar</h3>

<div class="row myInfo">
    <div class="col-md-12">
        @*<img class="avatar img-circle resize" id="avatarPic" />*@
        <img class="avatar resize" id="avatarPic" />
    </div>
    <div class="col-md-12" style="padding-top:10px">
        <input id="fileupload" type="file" name="files[]" hidden="true" style="display:none">
        <br />
        <div class="dummySmallSpace"></div>
        <a href="#" id="btnOpenFileDialog" onclick="document.getElementById('fileupload').click(); return false;" class=" btn btn-primary">Change Avatar</a>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#fileupload').fileupload({
            dataType: 'html',
            cache: false,
            url: '/Home/UploadPicture/' + $('#Id').val() + '/' + $('#NickId').val(),
            autoUpload: true,
            success: function (result) {
                $("#myPic").html(result);
            }
        });
    });
</script>