@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Floream.People.DataSources.Entities.Person>

<div class="avatar">
    <div class="row">
        <div class="col-md-12">
            <img id="avatarPic" />
        </div>
        <div class="col-md-12" style="padding-top: 10px">
            <input id="fileupload" type="file" name="files[]" hidden="true" style="display: none">
            <br />
            <div class="dummySmallSpace"></div>
            <a href="#" id="btnOpenFileDialog" onclick="document.getElementById('fileupload').click(); return false;" class=" btn btn-primary">Change Avatar</a>
        </div>
    </div>
</div>
@if (Model.Picture != null) { 
<script>
    $('#avatarPic').attr("src", "data:image/@Model.PictureExtension;base64,@System.Convert.ToBase64String(Model.Picture)")
</script>
}
<script>
    $(document).ready(function () {
        //debugger;
        $('#fileupload').fileupload({
            dataType: 'html',
            cache: false,
            url: '/Profile/UploadPicture/',
            autoUpload: true,
            success: function (result) {
                debugger;
                $("#myPic").html(result);
            }
        });
    });
</script>