@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>We Are</title>
    <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light|Pacifico|Covered+By+Your+Grace|Gloria+Hallelujah' rel='stylesheet' type='text/css'>

    <link href="/Content/css/Style.css" rel="stylesheet" />
    <link href="/Content/css/floream.css" rel="stylesheet" />
    <link href="/Content/css/ie10-viewport-bug-workaround.css" rel="stylesheet" />

    <script src="/Content/js/jquery.min.js"></script>
    <script src="/Content/js/jquery.lazyload.min.js"></script>
    <script src="/Content/js/jquery.mixitup.min.js"></script>
    <script src="/Content/js/bootstrap.min.js"></script>
    <script src="/Content/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/Content/js/ie-emulation-modes-warning.js"></script>
    <script src="/Content/js/script.js"></script>



</head>
<body>

    <section>
        @RenderBody()
    </section>

    <footer>
        &copy; Floream 2016
    </footer>


</body>
</html>

